/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

* {
  font-family: "Euclid", sans-serif, Arial, "Helvetica Neue";
}
